<div class="p-3 flex">
    <div class="flex-1">
        <div class="mb-10 mt-3">
            <h2 class="text-xl font-bold mb-4">Welcome back, Jhon Doe!</h2>
        </div>
        <%- include('ItemButton') %>

    </div>

    <div class="w-1/4">
        <div class="bg-gray-200 p-4 rounded shadow-lg">
            <div id="clock" class="flex items-center justify-center font-bold  text-blue-600"></div>
        </div>
        <div class="bg-gray-200 mt-4 p-4 rounded shadow-lg">
            <%- include('calander') %>
        </div>
    </div>
</div>