<div class="grid grid-cols-3 gap-2">
    <div class="h-24 w-24 bg-blue-200 rounded">
        <div class="w-full h-full flex flex-col items-center justify-center">
            <h3 class="font-medium">Places</h3>
            <p><%- placeCount%></p>
        </div>
    </div>
    <div class="h-24 w-24 bg-green-200 rounded">
        <div class="w-full h-full flex flex-col items-center justify-center">
            <h3 class="font-medium">Users</h3>
            <p><%- userCount%></p>
        </div>
    </div>
    <div class="h-24 w-24 bg-yellow-200 rounded">
        <div class="w-full h-full flex flex-col items-center justify-center">
            <h3 class="font-medium">Hotels</h3>
            <p><%- hotelCount%></p>
        </div>
    </div>
</div>